<div ref:container
	class="agenda-item { type } { isActive ? 'is-active' : '' } { vote ? 'is-vote' : '' }"

	on:focusin="handleFocus()"
	on:focusout="handleFocus()"
	on:mouseover="set({ isActive: true })"
	on:mouseout="set({ isActive: false })"
	on:keydown="handleKeydown(event)"
	tabindex="0"
>
	
	<h3 class="topic">{ topic }</h3>
	{ #if vote }
		<span class="meta">mit namentlicher Abstimmung</span>
	{ /if }

	{ #if vote }
		<span class="vote" title="Namentliche Abstimmung"></span>
	{ /if }

	<div class="content">
		{ #if description }
			<Renderer items="{ format(description) }" /> <span class="meta">Quelle: Deutscher Bundestag</span>
		{ /if }
		{ #if link }
			<div class="links"> 
				<a class="more" target="_blank" href="https://www.bundestag.de{ link }">Weiter lesen auf bundestag.de</a>
			</div>
		{ /if }
	</div>


</div>

<style>
	.agenda-item {
		position: absolute;
		right: .25rem;
		bottom: .5rem;
		left: .25rem;
		top: .5rem;
		overflow: hidden;

		padding: .75rem;
		hyphens: auto;

		font-size: .75rem;
		line-height: 1rem;
		background-color: #fff;
		border-top: 3px solid rgb(197, 213, 224);
		box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
		font-family: 'Fira Sans';
		cursor: pointer;

		-webkit-tap-highlight-color: rgba(0,0,0,0);
  		-webkit-tap-highlight-color: transparent;
	}

	.agenda-item:focus {
		outline: none;
	}

	.agenda-item + .agenda-item {
		margin-top: .75rem;
	}

	.agenda-item::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		display: block;
		height: .75rem;
		background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 100%);
	}

	.is-active {
		right: -.75rem;
		left: -.75rem;
		top: -.75rem;
		bottom: auto;
		z-index: 5;

		padding: 1rem;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, .05), 
					0 0 25px rgba(0, 0, 0, .1),
					0 0 500px 500px rgba(245, 245, 248, .75);
		cursor: auto;
	}

	@media all and (max-width: 749px) {
		.is-active {
			width: calc(200% + 1rem);
			margin-left: calc(-100% - .5rem);
		}
	}

	.is-vote {
		border-top-color: #ff4b6c;
	}

	.topic {
		position: relative;
		font-family: 'Fira Sans';
		font-size: 1em;
		font-weight: 500;
	}

	.is-active .topic {
		font-weight: 500;
	}

	@media all and (max-width: 749px) {
		.topic {
			font-weight: 400;
		}
	}

	.meta {
		color: #888;
	}

	.content {
		position: relative;
		display: none;
		margin-top: .5rem;
	}

	.is-active .content {
		display: block;
	}

	.links {
		margin-top: .5rem;
	}

	.more {
		font-style: italic;
		color: #000;
		font-weight: 500;
		text-decoration: none;
		border-bottom: 1px solid rgb(197, 213, 224);
	}
</style>

<script>
	import createFormattingTree from '../helpers/createFormattingTree/index.js';
	import Renderer from './Renderer.html';

	export default {

		components: {
			Renderer
		},

		data() {
			return {
				isActive: false,
				type: 'main',
				topic: '',
				description: '',
				vote: false,
			};
		},

		helpers: {
			format(text) {
				return createFormattingTree(text);
			}
		},

		methods: {

			toggleActive(event) {
				event.stopPropagation();
				this.set({
					isActive: !this.get().isActive
				});
			},

			handleFocus() {
				window.setTimeout(() => {
					let container = this.refs.container;
					let activeElement = document.activeElement;

					if(activeElement && container.contains(activeElement)) {
						this.set({ isActive: true });
					} else {
						this.set({ isActive: false });
					}
				}, 0);
			},

			handleKeydown(event) {
				if(event.key === 'Escape') {
					this.set({ isActive: false });
				}
			}

		},

	}
</script>